*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;

}
body{
    background-color: antiquewhite;
}
header{
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: centre;
    padding: 30px 10px;
    background-color:#6987bd;
    opacity: 86%;
}
.headings{
text-align: center;
width: 40%;


}

nav li{
    display: inline-block;
    list-style: none;
    padding: 0px 20px;
}
a,button{
    font-size: 16px;
    font-weight: 500;
    color:rgb(236, 239, 243);
    cursor: pointer;
    text-decoration: none;
}
h1{
    margin-top: 200px;
    margin-left: 100px;
    font-size: 50px;
}
h2{
    margin-top: 50px;
    margin-left: 100px;
    font-size: 20px;
}
.contactform{
    float: right;
    width: 50%;
   
    padding-left: 200px;
    background:antiquewhite;
    
    
}
.contfrom
{
    margin-top: -200px;
}
.contactform h2{
    font-size: 30px;
    color:#333;
    font-weight: 500;

}
.contactform .inputbox
{
    position: relative;
    width: 50%;
    margin-top: 10px;
}
.contactform .inputbox input,
.contactform .inputbox textarea
{
    width:100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    

}
.contactform .inputbox input[type="submit"]
{
    width: 100px;
    background: #6484C1;
    color: #fff;
    border:none;
    cursor: pointer;
   
    font-size: 18px;
    

}